body {
  background: linear-gradient(to left, #ded6d8, #ffe3e3);
  color: rgb(33, 33, 33);
  font-weight: 200;
  font-family: "Yellowtail", cursive;
  font-variant: small-caps;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 40rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  margin-top: 12rem;
  background-color: white;
}

button {
  top: 10px;
  left: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 100;
  font-variant: small-caps;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

button:hover {
  background-color: #e0bfb8;
}

.left-select {
  top: 10px;
  left: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Poppins";
  font-weight: 100;
  font-variant: small-caps;
  font-size: 18px;
}

.left-select:hover {
  background-color: #e0bfb8;
}

.containerTop {
  display: flex;
  justify-content: space-between;
}

.right-select {
  top: 10px;
  left: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Poppins";
  font-weight: 100;
  font-variant: small-caps;
  font-size: 18px;
}

.right-select:hover {
  background-color: #e0bfb8;
}

@media (max-width: 600px) {
  body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
  }

  section {
    background-color: #f4f2ee;
    width: fit-content;
    padding: 0px;
    margin: 15px;
    box-shadow: none;
  }

  .container {
    background-color: inherit;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}
