@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
body {
  background-color: #f4f2ee;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 400px;
}

input {
  border-radius: 5px;
  font: 12px;
  background-color: lightblue;
}

form {
  display: flex;
  align-items: center; /* Align form items vertically */
}

button {
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #1a202c;
  padding: 8px;
  min-width: 32px;
  background: transparent;
  transition: all 0.1s ease-in;
  margin-left: 10px;
}

button:hover {
  background: #ebfbee;
  color: #ffffff;
}

@media (max-width: 600px) {
  body {
    background-color: bisque;
  }
}
section {
  min-width: 600px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul {
  margin-top: 10px; /* Adjust the margin as needed */
}

/* If you want to add space between list items */
li {
  margin-bottom: 5px; /* Adjust the margin as needed */
}
